body{
    background-color: white;
}

h1{
    text-align: center;
}

h2{
    margin-left: 20px;
    color: darkblue;
}

#hr1{
    border: 1.5px solid orange;
    width: 100vw;
}

section{
    display: flex;
    justify-content: space-around;
    margin: -40px;
}

b{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: darkblue;
}

.div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main section figure figcaption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: DarkSalmon;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100vw;
    margin-top: 10px;
}

#he3{
    font-size: 30px;
    text-align: center;
}

details
{
    color: darkred;
    font-weight: bold;
    font-size: 25px;
}

details p{
    color: blueviolet;
}

aside {
    width: 30%;
    float: right;
    background-color: green;
    color: white;
    padding: 5px;
    margin: 10px;
    height: 110px;
    margin-top: -50px;
}

.video1{
    width: 100%;
    margin: 20px auto;
}

@media screen and (max-width: 620px){
    body{
        flex-direction: column;
    }
    
}

.figure1:hover .controls{
    transform: translateY(0);
    display: flex;
    margin-top: -100px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.figure1{
    width: 100%;
    max-width: 550px;
    position: relative;
    overflow: hidden;
}


.controls{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5px);
    margin-top: -100px;
    transition: all 0.4s;
}


.buttons{
    padding: 5px;
    /* width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* input[type="range"]
{
    width: 85%;
    -webkit-appearance: none;
    height: 5px;
    position: relative;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    outline: none;
} */

/* #number{
    background-color: #ffd901;

} */

.buttons button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before{
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.buttons button.play:before{
    content: '\f144';
}

.buttons button.pause:before{
    content: '\f28b';
}

.progress-bar-div{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    margin-top: 7px;
    opacity: 0.7;
}

.progress-bar{
    height: 10px;
    background-color: darkgrey;
    margin-top: -5px;
}

.time{
    font-size: 1em;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figcaption1{
    margin-top: 50px;
}

.section1{
    max-width: 640px;
    position: relative;
    margin: 20px auto;
}

.section1 figcaption{
    color: green;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* .volume{
    transform: rotate(270deg);
    width: 58px;
    margin-left: 380px;
    margin-top: 5px;
} */

input[type='range']
{
    -webkit-appearance: none;
    background: white;
    margin: 0;
    padding: 0 10px;
}

input[type='range']:focus
{
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track
{
    width: 100%;
    height: 9px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: orangered;
    cursor: pointer;
}

.innerPlayerControls{
    width: 100%;
    display: flex;
}

.mute{
    margin-left: -187px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mute.muted{
    opacity: 0.5;
}

.mute .slash{
    position: absolute;
    width: 2px;
    height: 50%;
    background: white;
    transform: rotate(-50deg);
    display: none;
}

.mute.muted .slash{
    display: block;
}

.control-button{
    background: transparent;
    color: white;
    border: none;
}

.fullscreen{
    margin-left: 400px;
}

.fast-forward{
    margin-left: -100px;
}